:root {
  /* primary */
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 95%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-weight: normal;
}

body {
  font-family: HankenGrotesk, sans-serif;
}

h4,
p {
  font-size: 1.8rem;
}

h4,
p,
span,
button {
  color: var(--white);
  font-weight: bold;
}

ol {
  list-style: none;
}

